
#box {
    width: 700px;
    height: 500px;
    margin: 20px auto;
    padding-top: 5;
    background-color: rgb(87, 202, 248);
    text-align: center;
    
}

#inner-box {
    width: 650px;
    height: 425px;
    background-color: #ffffff;
    text-align: center;
    margin: 30px auto;
    position: relative;
}
#criteria {
    width: 580px;
    height: 160px;
    text-align: auto;
    margin-left: 30px;
    border-bottom: 2px solid lightgrey;
}
#display{
    width: 400px;
    height: 50px;
    border-style: dotted;
    border-radius: 10%;
    margin: 40px auto;
    text-align: center;
}


#generate {
  width: 150px;
  height: 50px;
  padding: 12px;
  background-color: red;
  border-radius: 10%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  position: absolute;
  left: 100px;
  bottom: 30px;
  
}

#copy {
width: 150px;
height: 50px;
padding: 12px;
background-color: lightgrey;
border-radius: 10%;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
position: absolute;
right: 100px;
bottom: 30px;
}

.wrapper {
    width: 100%;
    padding: 20px;}
    /* Set 3 different to appear at 2 different breakpoints */
    @media screen and (max-width: 980px) {
    body {background-color: lightblue}
  }
  
  @media screen and (max-width: 768px) {
    body {background-color: lightgoldenrodyellow}
    }
  
  @media screen and (max-width: 640px) {
    body {background-color: lightcoral}
  }
  /* set wrapper around everything inside the body and set width at 100% */
  .wrapper {
    width: 100%;
    padding: 20px;
  }
